@tailwind base;
@tailwind components;
@tailwind utilities;

.expandable-textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 1px 5px;

    display: block;
    width: 100%;
    overflow: hidden;
    resize: none;
    min-height: 40px;
    line-height: 20px;
}
